.address {
  font-size: 3rem;
  font-family: "Heebo", sans-serif;
  font-family: "Noto Serif Lao", serif;
  font-family: "Roboto Slab", serif;
  font-family: "Shantell Sans", cursive;
  font-family: "Tilt Warp", cursive;
}
.bitful {
  font-family: "Heebo", sans-serif;
  font-family: "Noto Serif Lao", serif;
  font-family: "Roboto Slab", serif;
  font-family: "Shantell Sans", cursive;
  font-family: "Tilt Warp", cursive;
  font-size: 2.5rem;
  color: aqua;
}
